.mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90vw;
  height: 90vh;
  background-color: #d8d8d8;
}

.boxContainer {
  max-width: 100%;
  position: absolute;
  display: grid;
  grid-template-columns: 20px 1fr 1fr;
  grid-template-rows: 20px 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  width: 90vw;
  height: 90vh;
}

.box {
  position: relative;
  background-color: #fff;
  padding: 10px;
  overflow: auto;
  z-index: 100;
}

.bg-text {
  position: absolute;
  width: 90%;
  margin: 0 auto;
  bottom: 40%;
  color: #d8d8d8;
  font-size: 48px;
  z-index: -1;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  padding-inline-start: 0;
}

li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;
  justify-content: space-between;
}

.text-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow: auto;
}

.task-text,
.task-tag {
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.task-tag {
  color: rgb(79, 136, 241)
}


.task-actions {
  display: flex;
}

.vertical-title {
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
}

#item5 {
  order: 1;
}

#Delegate {
  order: 2;
}

#Delete {
  order: 3;
}

.highlight {
  color: rgb(79, 136, 241);

}